i {
    margin-right: 2px;
}

.modal iframe {
    width: 100%;
    box-sizing: border-box;
}

.zefsformheader {
    margin-left: 20px;
}

.zefsdebug, .zefsstatus, .zefsformsave, .feedback, .objselector,
.information {
    margin-top: 4px;
    margin-left: 3px;
}

