i {
    margin-right: 2px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #f3f3ee;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #cecece;
}

.zefsnews>div {
    padding: 10px;
    border-bottom: 1px dashed lightgray;
}

.zefsnews>div:nth-child(2n) {
    background-color: #f0f0f0;
}

.zefsnews>div:nth-child(2n-1) {
    background-color: #f9f9f9;
}

.news-header {
    height: 25px;
}

.news-header .label {
    margin-right: 3px;
}

.zefsnews .news-content {

}

.modal iframe {
    width: 100%;
    box-sizing: border-box;
}

.btn-group + .btn-group {
    margin-left: 3px;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Это чтобы тултипы не перекрывали открытые dropdown-menu*/
div.open>.tooltip {
    display: none !important;
}

.popover-content {
    font-style: normal;
}

.popover-comment {
    font-style: italic;
    margin: 5px 0 0 0;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

.popover-comment:only-of-type {
    border-top: none;
    margin: 0;
    padding: 0;
}

.formuserstable {
    table-layout: fixed;
}

.formuserstable tr.responsible td {
    background-color: #FFD7D7;
}

.formuserstable td {
    padding: 4px 5px;
}

.formuserstable th:first-child {
    width: 150px;
}

.formuserstable th:nth-child(3) {
    width: 120px;
}

.formuserstable th:nth-child(4) {
    width: 60px;
}

.formuserstable td.dolzh {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zefsextrapannel .label {
    margin-right: 3px;
}

.zefsformusers {
    margin-top: 10px;
}

.zefsformheader h3 {
    display: inline;
    margin: 0 4px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #002a80;
}

.zefsformheader .formname {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
}

.zefsformsubobj {
    margin-top: 8px;
}

.zefsformsubobj .btn-group {
    margin-left: 5px;
}
.zefsformsubobj .caret {
    margin-left: 3px;
}

.formdeadline .label,
.zefsformkurator .label {
    margin-top: 9px;
    margin-left: 3px;
}

.zefsformkurator .label i {
    background: url('../images/users.png') center no-repeat;
}

.zefsforminfo .label-tree {
    background: url('../images/document-tree.png') center no-repeat;
    width: 16px;
    height: 16px;
    margin: 11px 2px;
    cursor: pointer;
    display: inline-block;
}

.zefsreport,.zefsoldform, .zefsrestart, .zefshotkeys,
.impersonator,.information, .zefsfaq,
.zefsdebug, .feedback {
    margin-top: 4px;
    margin-right: 3px;
}

.authorizer {
    margin-right: 3px;
}

.authorizer .btn-group {
    margin-top: 4px;
    margin-right: 2px;
}

.authorizer .login-form input,
.authorizer .login-form button {
    margin-right: 2px;
}

.authorizer li {
    margin: 1px 3px;
}

.logininfo {
    margin-top: 6px;
    margin-right: 3px;
}

.logininfo .label {
    display: inline;
}

.zefsdatapreloader p {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.zefsdatapreloader #formLoadTime {
    display: inline;
}

#formLoadTime:after {
    content: "сек.";
    margin-left: 3px;
    display: inline;
}

.zefspreloader {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 50px;
    background: url("../images/zefs-form-preloader.gif") center no-repeat;
}

.zefsstatus, .zefsformsave, .zefsbizprocess,
.periodselector, .objselector, .zefschat,
.zefscolmanager, .zefsblockmanager, .zefsnullrows {
    margin-top: 4px;
    margin-left: 3px;
}

.zefsformsave .btn:first-child {
   margin-right: 3px;
}

.dropdown-menu li.primary {
    background-color: #e6ffe1;
}

li.current>a {
    font-weight: bold;
    color: #002a80;
}

li.current>a:hover {
    color: white;
}

.zefscolmanager label {
    margin: 0;
}

.zefscolmanager li.primary {
    background-color: #e6ffe1;
}

.zefsblockmanager table {
    cursor: default;
    font-size: 90%;
    margin-bottom: 0;
}

.zefsblockmanager td {
    padding: 2px;
}

.zefsblockmanager button {
    margin-left: 2px;
}

.zefsblockmanager li button:first-child {
    margin-left: 5px;
}

/*
.zefsblockmanager span.state-check {
    color: #006400;
}

.zefsblockmanager span.state-open {
    color: #af0000;
}

.zefsblockmanager span.state-block {
    color: #FF6600;
}
*/

.zefsblockmanager th {
    padding: 4px 2px;
}

.zefsblockmanager li>.btn-group {
    margin: 0 5px;
}

.zefscolmanager label>input {
    margin-bottom: 3px !important;
    margin-right: 3px;
    cursor: pointer;
}

.zefsalerter {
    position: fixed;
    top: 41px;
    right: 20px;
    z-index: 103;
}

.zefsalerter .alert {
    padding: 5px 35px 5px 14px;
}

.zetauserinfo td:first-child,
.zefshotkeysinfo td:first-child,
.zefssessioninfo td:first-child {
    font-weight: bold;
}

.zefshotkeysinfo td:first-child {
    white-space: nowrap;
}
