.chat-input textarea[type="text"] {
    min-width: 315px;
    max-width: 315px;
    line-height: 14px;
    font-size: 90%;
    min-height: 14px;
    margin: 0 0 5px 0;
}

.chat-input button {
    margin-left: 4px;
    vertical-align: top;
}

.chat-list-header img {
    margin-left: 4px;
}

.chat-list-header {
    height: 26px;
    font-size: 90%;
    font-weight: bold;
}

.chat-list-body {
    font-size: 90%;
    cursor: default;
    max-height: 350px;
    overflow-y: auto;
}

.chat-list-cell.date {
    display: table-cell;
    width: 105px;
    padding: 0 4px;
}

.chat-list-cell.message {
    width: 100%;
    color: #08C;
    cursor: text;
    white-space: normal;
    line-height: 18px;
}

.chat-list-cell.username {
    display: table-cell;
}

.chat-list-row:nth-child(2n-1) {
    background-color: #F9F9F9;
}

.chat-list-row {
    padding: 3px 0;
    border-top: 1px solid #DDD;
}
