.chat-input textarea[type="text"] {
    min-width: 315px;
    max-width: 315px;
    line-height: 14px;
    font-size: 90%;
    min-height: 14px;
    height: 50px;
    margin: 0 0 5px 0;
}

.chat-input button {
    margin-left: 4px;
    vertical-align: top;
}

.chat-list-header img {
    margin-left: 4px;
}

.chat-list-header {
    line-height: 22px;
    height: 22px;
    font-size: 90%;
    font-weight: bold;
}

.chat-list-body {
    font-size: 90%;
    cursor: default;
}

.chat-list-cell.date {
    display: table-cell;
    width: 105px;
    padding: 0 4px;
}

.chat-list-cell.message {
    width: 100%;
    color: #08C;
    cursor: text;
    white-space: normal;
    line-height: 18px;
}

.chat-list-cell.username {
    display: table-cell;
}
