@media print {
    #consoleHeader {
        display: none;
    }

    #consoleBody {
        margin-top: 0 !important;
    }

    .zefsformheader {
        position: static !important;
    }

    .kurator.label,
    .zefsextrapannel {
        display: none !important;
    }

    .zefsform {
        margin-top: 0 !important;
    }

    .fixed {
        position: static !important;
    }

    th {
        background: #333 !important;
        color: white !important;
        text-shadow: none;
    }

    td.editable {
        background-color: none !important;
    }

    td.active {
        display: table-cell !important;
        position: static !important;
        border: 1px solid #ccc !important;
    }

    tr.preactive td.number,
    tr.active td.number {
        border-color: #cccccc !important;
    }

    td.active:after {
        display: none !important;
    }
}